// btn config
// -----------------------------------------------------------------------------
$btn-type: (
	success: $subColor,
	danger: $mainColor,
	warning: $warningColor,
	info: $infoColor
);
$btn-size: (
	large: .75rem 1rem,
	def: .5rem .625rem,
	mini: .25rem .375rem
);
$btn-font-size: (
	large: 1rem,
	def: .875rem,
	mini: .75rem
);
$btn-border-radius: .25rem;


// btn style
// -----------------------------------------------------------------------------
.btn {
	margin: 0;
  padding: map-get($btn-size, 'def');
  display: table-cell;

  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: $white;
  vertical-align: middle;
  border: {
    width: 1px;
    style: solid;
    color: #bfcbd9;
  }

  color: #1f2d3d;
  font-size: parseInt(map-get($btn-font-size, def)) * 1rem;
  -webkit-appearance: none;
  text-align: center;
  outline: none;

  @include setPrefixer((user-select: none));


  @if parseInt($btn-border-radius) > 0 {
    @include setPrefixer((border-radius: parseInt($btn-border-radius) * 1rem));
	}

	// block
	&--block {
		display: inline-block;
		width: 100%;
	}

	// size
  @each $key, $val in $btn-font-size {
    @if $key != def {
      &--#{$key} {
        padding: map-get($btn-size, $key);
        font-size: parseInt(map-get($btn-font-size,$key)) * 1rem;
      }
    }
	}

	// type
	@each $k, $v in $btn-type {
    &--#{$k} {
      color: white;
      background: $v;
      border-color: $v;

      &.btn--disabled {
      	opacity: .5 !important;
      }

      &.btn--plain {
        background: transparent;
        border-color: $v;
        color: $v;
      }
    }
	}

}
