.footer {
	padding: $gutterSpace;
	color: #666;
	text-align: center;
	font-size: .65rem;
	font-weight: normal;
	
	a {
		color: #999;
		padding: 0 10px;
		font-weight: normal;
	}

	.copyright-info {
		margin-top: .5rem;
		padding-top: $gutterSpace;
		font-size: .55rem;
		color: #ccc;
	}

	.tips {
		font-size: .55rem;
		font-weight: normal;
		color: #ccc;
	}
}