// @import '../../assets/css/base';

.header {
	position: relative;
	padding: .75rem .75rem .625rem;
	height: 2.75rem;
	background-color: #fff;
	border-bottom: 1px solid #eee;

	&--index {
		border-bottom: none;
		background-color: transparent;
	}

	&__logo {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		padding-top: .785rem;
		padding-left: .75rem;
		width: 5.625rem;
		color: #696969;
	}

	&__nav {
		float: right;
		font-size: 1.1rem;
		a {
			padding-left: .65rem;
			display: inline-block;
			color: #d61518;
		}
	}

	&__avtar {
		position: relative;
		top: 2px;
		display: block;
		width: 20px;
		height: 20px;
		border-radius: 50%;
	}

}