// input config
// -----------------------------------------------------------------------------
$input-color: #666;
$input-focus-color: $mainColor;
$input-border-color: #d7dde4;
$input-border-radius: .25rem;
$input-size: (
  large: (
    padding: 6px 7px,
    height: 3.75rem,
    fontSize: .75rem
  ),
  def: (
    padding: 4px 7px,
    height: 2.5rem,
    fontSize: .75rem
  ),
  small: (
    padding: 1px 7px,
    height: 1.5rem,
    fontSize: .65rem
  )
);



// input style
// -----------------------------------------------------------------------------
.input__wrap {
   position: relative;
}

.input-has-icon {
  .input {
    padding-left: 35px;
  }
}

.input {
  $def: map-get($input-size, 'def');

  position: relative;
  display: inline-block;
  width: 100%;
  height: parseInt(map-get($def, 'height')) * 1rem;
  font-weight: normal;
  border: {
    width: 1px;
    style: solid;
    color: $input-border-color;
  };

  padding: map-get($def, 'padding');

  font-size: map-get($def, 'fontSize');

  color: $input-color;
  background-color: rgba($input-border-color, .05);
  background-image: none;

  outline: none;
  @include setPrefixer((border-radius: parseInt($input-border-radius) * 1rem));

  -webkit-transition:
    border .25s ease-in-out,
    box-shadow .25s ease-in-out,
    background .25s ease-in-out;
  transition:
    border .25s ease-in-out,
    box-shadow .25s ease-in-out,
    background .25s ease-in-out;
  background-color: #fff;

  &:focus,
  &:hover {
    border-color: $input-focus-color;
    color: $input-focus-color;
  }

  &-textarea {
    height: auto;
    resize: vertical;
  }

  // size
  @each $k, $v in $input-size {
    @if $k != def {
      &--#{$k} {
        height: parseInt(map-get($v, 'height')) * 1rem;
        padding: map-get($v, 'padding');
        font-size: map-get($v, 'fontSize');
      }
    }
  }
  
  // icon
  &__icon {
    position: absolute;
    top: 50%;
    left: 10px;
    z-index: 10;
    @include setPrefixer((transform: translateY(-50%)));
    @include setPrefixer((transition: all .25s ease-in-out), (webkit));

    &--focus {
      color: $mainColor;
    }
  }


  // clear
  &__close {

    $size: 16;

    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: $size / 2 * -1px;
    display: inline-block;
    width: $size * 1px;
    height: $size * 1px;
    line-height: $size * 1px;
    text-align: center;

    color: #fff;

    cursor: pointer;
    background-color: rgba(#000, .1);
    @include setPrefixer((border-radius: $size / 2 * 1px), (webkit));
    @include setPrefixer((transition: all .25s ease-in-out), (webkit));

    &:hover {
      background-color: $input-focus-color;
    }

  }

  // see password
  &__seepwd {
    position: absolute;
    top: 50%;
    bottom: 0;
    right: 36px;
    font-size: 16px;
    margin-top: -8px;
    cursor: pointer;
    color: rgba(#000, .2);
    @include setPrefixer((transition: color .25s ease-in-out), (webkit));

    &:hover {
      color: $input-focus-color;
    }
  }

}

