$miHouse: #78b7ff;
$miPPP: #ff999e;
$miSchool: #ffd95e;
$miStock: #ffa978;
$miRecharge: #d597ff;

.menu {
	display: flex;
	display: box;
	margin: $gutterSpace 0;
  padding: $gutterSpace .625rem;
  background-color: #fff;

  justify-content: space-between;
  box-pack: justify;

	&__item {
		display: inline-block;
		flex: 1;
		text-align: center;
		
		&:nth-child(1) {
			.menu__icon {
				color: $miHouse;
			}
		}
		&:nth-child(2) {
			.menu__icon {
				color: $miPPP;
			}
		}
		&:nth-child(3) {
			.menu__icon {
				color: $miSchool;
			}
		}
		&:nth-child(4) {
			.menu__icon {
				color: $miStock;
			}
		}
		&:nth-child(5) {
			.menu__icon {
				color: $miRecharge;
			}
		}

	}

	&__icon {
		display: block;
		margin-bottom: .1rem;
		font-size: 1.625rem;
	}

	&__tips {
		font-size: .675rem;
		color: #787878;
	}
}