.project-list {
	width: 100%;

	&__item {
		margin-top: .75rem;
		padding: .5rem;
		width: 100%;
	}
	&__title {
		color: #333;
		font-size: .9rem;
		line-height: 1.0;
		font-weight: normal;
	}
	&__badge {
		position: relative;
		margin-right: 5px;
		padding: 2px 3px;
		font-size: .75rem;
		line-height: 1.0;
		color: $subColor;
		font-weight: normal;


		&:after {
			border: {
				color: $subColor;
			}
			border-radius: 4px;
		}
	}
}