.project-list {
	width: 100%;

	&__item {
		margin-top: .75rem;
		padding: .5rem;
		width: 100%;
	}
	&__title {
		padding-top: .375rem;
		color: #333;
		font-size: .9rem;
		line-height: 1.0;
		font-weight: normal;
	}

	&__detail {
		display: flex;
		display: box;
		justify-content: space-between;
  	box-pack: justify;

		&-item{
			display: inline-block;
			flex: 1;
			margin-top: $gutterSpace;
			color: #999;

			&:last-child {
				text-align: right;
			}


			.profit {
				font-size: 1.85rem;
				font-family: $codeFontFamily;
				letter-spacing: -5px;
				font-weight: bold;
				color: $mainColor;
			}

			.tips {
				font-size: .75rem;
			}
		}
	}

}