.project-list {
	width: 100%;

	&__item {
		margin-top: .75rem;
		padding: .5rem;
		width: 100%;
		
	}
	&__title {
		padding-top: .375rem;
		color: #333;
		font-size: .9rem;
		line-height: 1.0;
		font-weight: normal;
	}

	&__detail {
		display: flex;
		display: box;
		justify-content: space-between;
  	box-pack: justify;

		&-item{
			position: relative;
			display: inline-block;
			flex: 1;
			margin-top: $gutterSpace;

			&:last-child {
				text-align: right;

				&:before {
					position: absolute;
					content: '';
					top: 10px;
					left: 0;
					bottom: 0;
					width: 1px;
					background-color: #eee;
				}
				
				@include dpi {
					&:before {
						transform: scaleX(0.7);
					}
				}
				@include dpi(2) {
					&:before {
						transform: scaleX(0.5);
					}
				}

			}

			.profit {
				font-size: 1.85rem;
				font-family: $codeFontFamily;
				letter-spacing: -5px;
				font-weight: bold;
				color: $mainColor;
			}
			
			.info {
				padding-top: .6rem;
				font-size: .85rem;
				span:not(.status) {
					font-size: 1.45rem;
					font-family: $codeFontFamily;
				}
				.status {
					&.status--1 {
						color: $mainColor;
					}
					&.status--2 {
						color: $subColor;
					}
					&.status--3 {
						color: #ccc;
					}
					
				}
			}

			.tips {
				color: #999;
				font-size: .75rem;
			}
		}
	}

	// 加载失败
	&__fail {
		padding: .95rem 0;
		text-align: center;
		font-size: 1.5rem;
		color: #ccc;

		p {
			font-size: .75rem;
			color: #999;
		}
	}

}