@charset "UTF-8";

// zoom 
// -----------------------------------------------------------------------------
%zoomIn {
  @include setPrefixer(( animation: zoomIn .5s ));
}
.zoom-in {
  @extend %zoomIn;
}
%zoomOut {
  @include setPrefixer(( animation: zoomOut .5s ));
}
.zoom-out {
  @extend %zoomOut;
}

@include keyframes(zoomIn) {
  0% {
    opacity: 0;
    @include setPrefixer(( transform: scale(1.5) ));
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@include keyframes(zoomOut) {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    @include setPrefixer(( transform: scale(1.5) ));
  }
}

// fade
// -----------------------------------------------------------------------------
%fadeIn {
  @include setPrefixer(( animation: fadeIn .5s ));
}
.fade-in {
  @extend %fadeIn;
}
%fadeOut {
  @include setPrefixer(( animation: fadeOut .5s ));
}
.fade-out {
  @extend %fadeOut;
}

@include keyframes(fadeIn) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@include keyframes(fadeOut) {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

// slide top
// -----------------------------------------------------------------------------
%slideInTop {
  @include setPrefixer(( animation: slideInTop .5s ));
}
.slide-in--top {
  @extend %slideInTop;
}
%slideOutTop {
  @include setPrefixer(( animation: slideOutTop .5s ));
}
.slide-out--top {
  @extend %slideOutTop;
}

@include keyframes(slideInTop) {
  0% {
    opacity: 0;
    @include setPrefixer(( transform: translateY(-150%) ));
  }
  100% {
    opacity: 1;
    transform: translateY(0)
  }
}
@include keyframes(slideOutTop) {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    @include setPrefixer(( transform: translateY(-150%) ));
  }
}

// slide right
// -----------------------------------------------------------------------------
%slideInRight {
  @include setPrefixer(( animation: slideInRight .5s ));
}
.slide-in--right {
  @extend %slideInRight;
}
%slideOutRight {
  @include setPrefixer(( animation: slideOutRight .5s ));
}
.slide-out--right {
  @extend %slideOutRight;
}

@include keyframes(slideInRight) {
  0% {
    opacity: 0;
    @include setPrefixer(( transform: translateX(50%) ));
  }
  100% {
    opacity: 1;
    @include setPrefixer(( transform: translateX(0) ));
  }
}
@include keyframes(slideOutRight) {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    @include setPrefixer(( transform: translateX(50%) ));
  }
}


// slide bottom
// -----------------------------------------------------------------------------
%slideInBottom {
  @include setPrefixer(( animation: slideInBottom .5s ));
}
.slide-in--bottom {
  @extend %slideInBottom;
}
%slideOutBottom {
  @include setPrefixer(( animation: slideOutBottom .5s ));
}
.slide-out--bottom {
  @extend %slideOutBottom;
}

@include keyframes(slideInBottom) {
  0% {
    opacity: 0;
    @include setPrefixer(( transform: translateY(150%) ));
  }
  100% {
    opacity: 1;
    @include setPrefixer(( transform: translateY(0) ));
  }
}
@include keyframes(slideOutBottom) {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    @include setPrefixer(( transform: translateY(150%) ));
  }
}

// slide left
// -----------------------------------------------------------------------------
%slideInLeft {
  @include setPrefixer(( animation: slideInLeft .5s ));
}
.slide-in--left {
  @extend %slideInLeft;
}
%slideOutLeft {
  @include setPrefixer(( animation: slideOutLeft .5s ));
}
.slide-out--left {
  @extend %slideOutLeft;
}

@include keyframes(slideInLeft) {
  0% {
    opacity: 0;
    @include setPrefixer(( transform: translateX(-50%) ));
  }
  100% {
    opacity: 1;
    @include setPrefixer(( transform: translateX(0) ));
  }
}
@include keyframes(slideOutLeft) {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    @include setPrefixer(( transform: translateX(-50%) ));
  }
}
