.container {
	padding: 0;
	margin: 0 auto;
  min-width: 300px;
  max-width: 640px;
}

.b-t-1px {
	position: relative;
	&:before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		right: 0;
		height: 1px;
		background-color: #ccc;
	}
}
@include dpi {
	.b-t-1px {
		&::before {
			transform: scaleY(0.7);
		}
	}
}
@include dpi(2) {
	.b-t-1px {
		&::before {
			transform: scaleY(0.5);
		}
	}
}

.b-b-1px {
	position: relative;
	&:after {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		right: 0;
		height: 1px;
		background-color: #ccc;
	}
}
@include dpi {
	.b-b-1px {
		&::after {
			transform: scaleY(0.7);
		}
	}
}
@include dpi(2) {
	.b-b-1px {
		&::after {
			transform: scaleY(0.5);
		}
	}
}

.border-1px {
	position: relative;

	&:after {
		position: absolute;
		content: "";
		top: -50%;
		left: -50%;
		right: -50%;
		bottom: -50%;
		border: {
			width: 1px;
			style: solid;
			color: #ccc;
		}
	}
}
@include dpi {
	.border-1px {
		&::after {
			transform: scale(0.7);
		}
	}
}
@include dpi(2) {
	.border-1px {
		&::after {
			transform: scale(0.5);
		}
	}
}

