@font-face {
  font-family: 'dywer';
  src:  url('#{$dwyer-font-path}/dywer.eot?x92mtd');
  src:  url('#{$dwyer-font-path}/dywer.eot?x92mtd#iefix') format('embedded-opentype'),
    url('#{$dwyer-font-path}/dywer.ttf?x92mtd') format('truetype'),
    url('#{$dwyer-font-path}/dywer.woff?x92mtd') format('woff'),
    url('#{$dwyer-font-path}/dywer.svg?x92mtd#dywer') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'dywer' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo {
  &:before {
    content: $icon-logo;
  }
}
.icon-alipay {
  &:before {
    content: $icon-alipay;
  }
}
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down;
  }
}
.icon-arrow-left {
  &:before {
    content: $icon-arrow-left;
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right;
  }
}
.icon-arrow-up {
  &:before {
    content: $icon-arrow-up;
  }
}
.icon-bank-gd {
  &:before {
    content: $icon-bank-gd;
  }
}
.icon-bank-card {
  &:before {
    content: $icon-bank-card;
  }
}
.icon-buy-circle {
  &:before {
    content: $icon-buy-circle;
  }
}
.icon-capital {
  &:before {
    content: $icon-capital;
  }
}
.icon-chat {
  &:before {
    content: $icon-chat;
  }
}
.icon-choose {
  &:before {
    content: $icon-choose;
  }
}
.icon-close {
  &:before {
    content: $icon-close;
  }
}
.icon-copy {
  &:before {
    content: $icon-copy;
  }
}
.icon-cross {
  &:before {
    content: $icon-cross;
  }
}
.icon-default {
  &:before {
    content: $icon-default;
  }
}
.icon-details {
  &:before {
    content: $icon-details;
  }
}
.icon-exit {
  &:before {
    content: $icon-exit;
  }
}
.icon-eye-close {
  &:before {
    content: $icon-eye-close;
  }
}
.icon-eye-open {
  &:before {
    content: $icon-eye-open;
  }
}
.icon-fields {
  &:before {
    content: $icon-fields;
  }
}
.icon-film {
  &:before {
    content: $icon-film;
  }
}
.icon-fire {
  &:before {
    content: $icon-fire;
  }
}
.icon-integral {
  &:before {
    content: $icon-integral;
  }
}
.icon-money {
  &:before {
    content: $icon-money;
  }
}
.icon-money-house {
  &:before {
    content: $icon-money-house;
  }
}
.icon-notice {
  &:before {
    content: $icon-notice;
  }
}
.icon-notice-circle {
  &:before {
    content: $icon-notice-circle;
  }
}
.icon-online {
  &:before {
    content: $icon-online;
  }
}
.icon-password {
  &:before {
    content: $icon-password;
  }
}
.icon-password-confirm {
  &:before {
    content: $icon-password-confirm;
  }
}
.icon-pie-chart {
  &:before {
    content: $icon-pie-chart;
  }
}
.icon-project-film {
  &:before {
    content: $icon-project-film;
  }
}
.icon-project-house {
  &:before {
    content: $icon-project-house;
  }
}
.icon-project-ppp {
  &:before {
    content: $icon-project-ppp;
  }
}
.icon-project-school {
  &:before {
    content: $icon-project-school;
  }
}
.icon-project-stock-right {
  &:before {
    content: $icon-project-stock-right;
  }
}
.icon-promotion-record {
  &:before {
    content: $icon-promotion-record;
  }
}
.icon-purse {
  &:before {
    content: $icon-purse;
  }
}
.icon-recharge {
  &:before {
    content: $icon-recharge;
  }
}
.icon-recharge-circle {
  &:before {
    content: $icon-recharge-circle;
  }
}
.icon-record-detailed {
  &:before {
    content: $icon-record-detailed;
  }
}
.icon-refresh {
  &:before {
    content: $icon-refresh;
  }
}
.icon-school {
  &:before {
    content: $icon-school;
  }
}
.icon-school-hat {
  &:before {
    content: $icon-school-hat;
  }
}
.icon-search {
  &:before {
    content: $icon-search;
  }
}
.icon-setting {
  &:before {
    content: $icon-setting;
  }
}
.icon-shield {
  &:before {
    content: $icon-shield;
  }
}
.icon-stats-bars {
  &:before {
    content: $icon-stats-bars;
  }
}
.icon-stats-dots {
  &:before {
    content: $icon-stats-dots;
  }
}
.icon-time {
  &:before {
    content: $icon-time;
  }
}
.icon-user {
  &:before {
    content: $icon-user;
  }
}
.icon-verify-code {
  &:before {
    content: $icon-verify-code;
  }
}

