// icon config
// -----------------------------------------------------------------------------
$dwyer-font-path: "../fonts" !default;

$icon-alipay: "\e900";
$icon-arrow-down: "\e901";
$icon-arrow-left: "\e902";
$icon-arrow-right: "\e903";
$icon-arrow-up: "\e904";
$icon-bank-gd: "\e905";
$icon-bank-card: "\e906";
$icon-buy-circle: "\e907";
$icon-capital: "\e908";
$icon-chat: "\e909";
$icon-choose: "\e90a";
$icon-close: "\e90b";
$icon-copy: "\e90c";
$icon-cross: "\e90d";
$icon-default: "\e90e";
$icon-details: "\e90f";
$icon-exit: "\e910";
$icon-eye-close: "\e911";
$icon-eye-open: "\e912";
$icon-fields: "\e913";
$icon-film: "\e914";
$icon-fire: "\e915";
$icon-integral: "\e916";
$icon-money: "\e917";
$icon-money-house: "\e918";
$icon-notice: "\e919";
$icon-notice-circle: "\e91a";
$icon-online: "\e91b";
$icon-password: "\e91c";
$icon-password-confirm: "\e91d";
$icon-pie-chart: "\e91e";
$icon-project-film: "\e91f";
$icon-project-house: "\e920";
$icon-project-ppp: "\e921";
$icon-project-school: "\e922";
$icon-project-stock-right: "\e923";
$icon-promotion-record: "\e924";
$icon-purse: "\e925";
$icon-recharge: "\e926";
$icon-recharge-circle: "\e927";
$icon-record-detailed: "\e928";
$icon-refresh: "\e929";
$icon-school: "\e92a";
$icon-school-hat: "\e92b";
$icon-search: "\e92c";
$icon-setting: "\e92d";
$icon-shield: "\e92e";
$icon-stats-bars: "\e92f";
$icon-stats-dots: "\e930";
$icon-time: "\e931";
$icon-user: "\e932";
$icon-verify-code: "\e933";

// flg config
// -----------------------------------------------------------------------------
$prefix-list: (webkit) !default;
$placeholder-color: #999 !default;
$base-line-height: 1.42;
$base-font-family: -apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif !default;
$body-background-color: #f5f5f5;
$default-alink-color: #f6f7f9;


// layout
// -----------------------------------------------------------------------------
$layout-padding-map: (
  none: 0,
  xxs: 5,
  xs: 10,
  sm: 15,
  md: 20,
  lg: 30,
  xl: 40,
  xxl: 50
) !default;

$layout-margin-map: (
  none: 0,
  xxs: 5,
  xs: 10,
  sm: 15,
  md: 20,
  lg: 30,
  xl: 40,
  xxl: 50
) !default;
