body {
	background-color: #f6f7f9;
}
.m-home {
	padding: 0;
	margin: 0 auto;
	min-width: 300px;
}
.m-home.m-home--fixed {
  padding-top: .9rem;
}

.app-text-success {
  color: #04be02;
}
.app-text-wran {
  color: #ffb400;
}
.text-danger,
.app-text-main {
  color: #ef4f4f;
}
.app-text-gary {
  color: gray;
}
.app-text-center {
  text-align: center;
}
.m-t-sm {
  margin-top: .125rem;
}
.m-t-md {
  margin-top: .25rem;
}

.scale-1px{
  position: relative;
  border:none;
}
%after {
  content: '';
  position: absolute;
  background: #ccc;
  left: 0;
  right: 0;
  height: 1px;
  transform-origin: 0 0;
}
%before {
  content: '';
  position: absolute;
  background: #ccc;
  width: 1px;
  top: 0;
  bottom: 0;
}

.scale-1px.top:after{
  @extend %after;
  top: 0;
}
.scale-1px.bottom:after{
  @extend %after;
  bottom: 0;
}

.scale-1px.left:after{
  @extend %before;
  left: 0;
}
.scale-1px.right:after{
  @extend %before;
  right: 0;
}
@media (-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5) {
  .scale-1px.top:after,
  .scale-1px.bottom:after{
    transform: scaleY(.7);
  }

  .scale-1px.left:after,
  .scale-1px.right:after{
    transform: scaleX(.7);
  }
}
@media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2){
  .scale-1px.top:after,
  .scale-1px.bottom:after{
    transform: scaleY(.5);
  }

  .scale-1px.left:after,
  .scale-1px.right:after{
    transform: scaleX(.5);
  }
}

@media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3){
  .scale-1px.top:after,
  .scale-1px.bottom:after{
    transform: scaleY(.334);
  }

  .scale-1px.left:after,
  .scale-1px.right:after{
    transform: scaleX(.334);
  }
}

/* 导航 */
.m-navbar.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

/* Tab 切换透明背景  */
.tab-theme--1 .tab-nav-item,
.tab-theme--1 .tab-nav-item.tab-active,
.tab-theme--1 .tab-nav-item.tab-active:active,
.tab-without-background .tab-nav-item,
.tab-without-background .tab-nav-item.tab-active,
.tab-without-background .tab-nav-item.tab-active:active {
  background-color: transparent !important;
}
.tab-theme--1 .tab-nav-item.tab-active:before,
.tab-theme--1 .tab-nav:after,
.tab-without-background .tab-nav-item.tab-active:before,
.tab-without-background .tab-nav:after {
  display: none;
}
.tab-without-background .tab-nav-item {
  line-height: 1rem;
}

/* Tab 自定义样式一  */
.tab-theme--1 .tab-nav {
  margin: .25rem auto;
  width: 80%;
  border: 1px solid #ef4f4f;
  border-radius: 4px;
  overflow: hidden;
}
.tab-theme--1 .tab-nav-item {
  line-height: .55rem;
}
.tab-theme--1 .tab-nav-item {
  border-right: 1px solid #ef4f4f;
}
.tab-theme--1 .tab-nav-item:last-child {
  border-right: none;
}
.tab-theme--1 .tab-nav-item a {
  color: #ef4f4f;
}
.tab-theme--1 .tab-nav-item:not(:last-child):after {
  display: none;
}
.tab-theme--1 .tab-nav-item.tab-active {
  background-color: #ef4f4f !important;
}
.tab-theme--1 .tab-nav-item.tab-active a {
  color: #fff;
}
.tab-theme--1 .tab-panel {
  background: transparent;
}


/* list 没有图片 */
.list-theme4.without-img .list-item .list-img {
  display: none;
}

/* 滚动加载 样式 */
.dont-tips {
  position: relative;
  padding: .15rem 0;
  display: inline-block;
  width: 100%;
  font-size: .125rem;
  color: #ccc;
  text-align: center;
}
.dont-tips:before,
.dont-tips:after {
  position: absolute;
  z-index: -1;
  content: "";
  top: 50%;
  width: 35%;
  height: 1px;
  background-color: #eee;
}
.dont-tips:before {
  left: .125rem;
}
.dont-tips:after {
  right: .125rem;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -32px;
  margin-left: -32px;
}

// 文章详情页
.article__content img {
  max-width: 100%;
}

// 项目详情
.assets__container img {
  margin: 0 auto;
  width: 90%;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px #ccc;
}
.film__container img {
  width: 98%;
  margin: 0 auto;
}

// lightbox 层级
.m-lightbox {
  z-index: 2000;
}

// user
.user-cell .cell-right {
  min-height: .9rem;
}

.popup--gray .popup-content {
  background-color: #f6f7f9;
}

// record style
.records-list {
  position: relative;
  width: 100%;
  overflow: hidden;
  color: #666;
}

.records-list__item {
  position: relative;
  margin: .25rem auto;
  padding: .125rem;
  background-color: #fff;
  overflow: hidden;
}
.records-list__item:before,
.records-list__item:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #b2b2b2;
  transform: scaleY(.5);
  transform-origin: 0 0;
}
.records-list__item:before {
  top: 0;
}
.records-list__item:after {
  bottom: 0;
}
.records-list__span--12,
.records-list__span--6 {
  box-sizing: box-sizing;
  float: left;
  line-height: .54rem;
}
.records-list__span--12 {
  width: 100%;
}
.records-list__span--6 {
  width: 50%;
}
