// icon config
// -----------------------------------------------------------------------------
$dwyer-font-path: "../fonts" !default;

$dy-icon-logo: "\e934";
$dy-icon-project-pvp: "\e936";
$dy-icon-pvp: "\e937";
$dy-icon-arrow-left: "\e935";
$dy-icon-alipay: "\e900";
$dy-icon-arrow-down: "\e901";
$dy-icon-arrow-left-line: "\e902";
$dy-icon-arrow-right: "\e903";
$dy-icon-arrow-up: "\e904";
$dy-icon-bank_gd: "\e905";
$dy-icon-bank-card: "\e906";
$dy-icon-buy_circle: "\e907";
$dy-icon-capital: "\e908";
$dy-icon-chat: "\e909";
$dy-icon-choose: "\e90a";
$dy-icon-close: "\e90b";
$dy-icon-copy: "\e90c";
$dy-icon-cross: "\e90d";
$dy-icon-default: "\e90e";
$dy-icon-details: "\e90f";
$dy-icon-exit: "\e910";
$dy-icon-eye-close: "\e911";
$dy-icon-eye-open: "\e912";
$dy-icon-fields: "\e913";
$dy-icon-film: "\e914";
$dy-icon-fire: "\e915";
$dy-icon-integral: "\e916";
$dy-icon-money: "\e917";
$dy-icon-money-house: "\e918";
$dy-icon-notice: "\e919";
$dy-icon-notice-circle: "\e91a";
$dy-icon-online: "\e91b";
$dy-icon-password: "\e91c";
$dy-icon-password_confirm: "\e91d";
$dy-icon-pie-chart: "\e91e";
$dy-icon-project-film: "\e91f";
$dy-icon-project-house: "\e920";
$dy-icon-project-ppp: "\e921";
$dy-icon-project-school: "\e922";
$dy-icon-project-stock-right: "\e923";
$dy-icon-promotion-record: "\e924";
$dy-icon-purse: "\e925";
$dy-icon-recharge: "\e926";
$dy-icon-recharge-circle: "\e927";
$dy-icon-record-detailed: "\e928";
$dy-icon-refresh: "\e929";
$dy-icon-school: "\e92a";
$dy-icon-school_hat: "\e92b";
$dy-icon-search: "\e92c";
$dy-icon-setting: "\e92d";
$dy-icon-shield: "\e92e";
$dy-icon-stats-bars: "\e92f";
$dy-icon-stats-dots: "\e930";
$dy-icon-time: "\e931";
$dy-icon-user: "\e932";
$dy-icon-verify-code: "\e933";
