@font-face {
  font-family: 'dywer';
  src:  url('#{$dwyer-font-path}/dywer.eot?x92mtd');
  src:  url('#{$dwyer-font-path}/dywer.eot?x92mtd#iefix') format('embedded-opentype'),
    url('#{$dwyer-font-path}/dywer.ttf?x92mtd') format('truetype'),
    url('#{$dwyer-font-path}/dywer.woff?x92mtd') format('woff'),
    url('#{$dwyer-font-path}/dywer.svg?x92mtd#dywer') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="dy-icon-"], [class*=" dy-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'dywer' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dy-icon-logo {
  &:before {
    content: $dy-icon-logo;
  }
}
.dy-icon-project-pvp {
  &:before {
    content: $dy-icon-project-pvp;
  }
}
.dy-icon-pvp {
  &:before {
    content: $dy-icon-pvp;
  }
}
.dy-icon-arrow-left {
  &:before {
    content: $dy-icon-arrow-left;
  }
}
.dy-icon-alipay {
  &:before {
    content: $dy-icon-alipay;
  }
}
.dy-icon-arrow-down {
  &:before {
    content: $dy-icon-arrow-down;
  }
}
.dy-icon-arrow-left-line {
  &:before {
    content: $dy-icon-arrow-left-line;
  }
}
.dy-icon-arrow-right {
  &:before {
    content: $dy-icon-arrow-right;
  }
}
.dy-icon-arrow-up {
  &:before {
    content: $dy-icon-arrow-up;
  }
}
.dy-icon-bank_gd {
  &:before {
    content: $dy-icon-bank_gd;
  }
}
.dy-icon-bank-card {
  &:before {
    content: $dy-icon-bank-card;
  }
}
.dy-icon-buy_circle {
  &:before {
    content: $dy-icon-buy_circle;
  }
}
.dy-icon-capital {
  &:before {
    content: $dy-icon-capital;
  }
}
.dy-icon-chat {
  &:before {
    content: $dy-icon-chat;
  }
}
.dy-icon-choose {
  &:before {
    content: $dy-icon-choose;
  }
}
.dy-icon-close {
  &:before {
    content: $dy-icon-close;
  }
}
.dy-icon-copy {
  &:before {
    content: $dy-icon-copy;
  }
}
.dy-icon-cross {
  &:before {
    content: $dy-icon-cross;
  }
}
.dy-icon-default {
  &:before {
    content: $dy-icon-default;
  }
}
.dy-icon-details {
  &:before {
    content: $dy-icon-details;
  }
}
.dy-icon-exit {
  &:before {
    content: $dy-icon-exit;
  }
}
.dy-icon-eye-close {
  &:before {
    content: $dy-icon-eye-close;
  }
}
.dy-icon-eye-open {
  &:before {
    content: $dy-icon-eye-open;
  }
}
.dy-icon-fields {
  &:before {
    content: $dy-icon-fields;
  }
}
.dy-icon-film {
  &:before {
    content: $dy-icon-film;
  }
}
.dy-icon-fire {
  &:before {
    content: $dy-icon-fire;
  }
}
.dy-icon-integral {
  &:before {
    content: $dy-icon-integral;
  }
}
.dy-icon-money {
  &:before {
    content: $dy-icon-money;
  }
}
.dy-icon-money-house {
  &:before {
    content: $dy-icon-money-house;
  }
}
.dy-icon-notice {
  &:before {
    content: $dy-icon-notice;
  }
}
.dy-icon-notice-circle {
  &:before {
    content: $dy-icon-notice-circle;
  }
}
.dy-icon-online {
  &:before {
    content: $dy-icon-online;
  }
}
.dy-icon-password {
  &:before {
    content: $dy-icon-password;
  }
}
.dy-icon-password_confirm {
  &:before {
    content: $dy-icon-password_confirm;
  }
}
.dy-icon-pie-chart {
  &:before {
    content: $dy-icon-pie-chart;
  }
}
.dy-icon-project-film {
  &:before {
    content: $dy-icon-project-film;
  }
}
.dy-icon-project-house {
  &:before {
    content: $dy-icon-project-house;
  }
}
.dy-icon-project-ppp {
  &:before {
    content: $dy-icon-project-ppp;
  }
}
.dy-icon-project-school {
  &:before {
    content: $dy-icon-project-school;
  }
}
.dy-icon-project-stock-right {
  &:before {
    content: $dy-icon-project-stock-right;
  }
}
.dy-icon-promotion-record {
  &:before {
    content: $dy-icon-promotion-record;
  }
}
.dy-icon-purse {
  &:before {
    content: $dy-icon-purse;
  }
}
.dy-icon-recharge {
  &:before {
    content: $dy-icon-recharge;
  }
}
.dy-icon-recharge-circle {
  &:before {
    content: $dy-icon-recharge-circle;
  }
}
.dy-icon-record-detailed {
  &:before {
    content: $dy-icon-record-detailed;
  }
}
.dy-icon-refresh {
  &:before {
    content: $dy-icon-refresh;
  }
}
.dy-icon-school {
  &:before {
    content: $dy-icon-school;
  }
}
.dy-icon-school_hat {
  &:before {
    content: $dy-icon-school_hat;
  }
}
.dy-icon-search {
  &:before {
    content: $dy-icon-search;
  }
}
.dy-icon-setting {
  &:before {
    content: $dy-icon-setting;
  }
}
.dy-icon-shield {
  &:before {
    content: $dy-icon-shield;
  }
}
.dy-icon-stats-bars {
  &:before {
    content: $dy-icon-stats-bars;
  }
}
.dy-icon-stats-dots {
  &:before {
    content: $dy-icon-stats-dots;
  }
}
.dy-icon-time {
  &:before {
    content: $dy-icon-time;
  }
}
.dy-icon-user {
  &:before {
    content: $dy-icon-user;
  }
}
.dy-icon-verify-code {
  &:before {
    content: $dy-icon-verify-code;
  }
}